{% extends '@Contao/ui/context.html.twig' %}

{% block content %}
    {% if (app.request.attributes.all['pageModel'].isBlueprintPreview ?? false) %}
        {% if (app.environment == "dev" or contao.is_preview_mode) %}
            <div class="ui">
                <div class="ui__preview">
                    <div class="ui__elements">
                        <div class="ui__item ui__item--edit">
                            <a target="__blank"
                               href="/contao?do=blueprint_article&table=tl_content&id={{ article.id }}">
                                <img src="/system/themes/flexible/icons/edit.svg" title="{{ 'Edit'|trans }}">
                            </a>
                        </div>
                        <div class="ui__item ui__item--copy">
                            <a
                                    href="/contao?do={{ article.type }}&id={{ article.id }}&act=paste&mode=copy&rt={{ csrf() }}&key=blueprint_article_clipboard&original=tl_blueprint_article">
                                <img src="/system/themes/flexible/icons/copy.svg" title="{{ 'Copy'|trans }}">
                            </a>
                        </div>
                    </div>
                    <div class="ui__preview__icon">
                        <img src="/system/themes/flexible/icons/header.svg">
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}