<div class="add_blueprint add_blueprint__wrapper" data-layout="{{ layout }}">
    <span class="add_blueprint__item">{% if icon %}<img src="{{ icon }}"/>{% endif %}</span>
    <ul class="add_blueprint__item__wrapper_outer">
        <div class="add_blueprint__item__wrapper category">
            {% for category in categories %}
                <li class="add_blueprint__wrapper category__wrapper">
                    <span class="add_blueprint__item category__item">{{ category.title }}</span>

                    {% if category.blueprints %}
                        <ul class="add_blueprint__item__wrapper blueprint">
                            {% for blueprint in category.blueprints %}
                                <li class="add_blueprint__wrapper blueprint__wrapper" data-blueprint-alias="{{ blueprint.alias }}">
                                    <a class="add_blueprint__item blueprint__item" href="{{ href }}&do=blueprint_article&mode=1&mode={{ mode }}&key=blueprint_article_insert&id={{ blueprint.id }}&pid={{ record.id }}"
                                       class="item">{{ blueprint.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </div>
    </ul>
</div>

